<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h1>Library</h1>

    <!-- Search Form -->
    <form method="get" action="/">
        <label for="search">Search:</label>
        <input type="text" id="search" name="keyword" placeholder="Enter keyword">
        <input type="submit" value="Search">
    </form>

    <!-- Book List -->
    {% for book in books %}
    <div>
        <h3>{{ book.title }}</h3>
        <p>Author: {{ book.author.name }}</p>
        {% if book.cover_image_url %}
        <img src="{{ book.cover_image_url }}" alt="Book Cover">
        {% else %}
        <img src="/static/default_book_cover.png" alt="No Cover Image">
        {% endif %}
        <form method="post" action="/book/{{ book.id }}/delete">
            <input type="submit" value="Delete Book">
        </form>
    </div>
    {% endfor %}
</body>
</html>
